<nav class="navbar" role="navigation" aria-label="main navigation">
    
   
    <div class="navbar-brand">
        
      <div class="navbar-start">
            <a role="button" class="navbar-burger " aria-label="menu" aria-expanded="true">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                  </a>
                  
      </div> 
      <app-logo></app-logo>
      
      
    </div>
    
    <div class="navbar-menu is-active" >
              
    <div class="navbar-end">
           
           <app-cartbar></app-cartbar>
      </div> 
    </div>    
    
  </nav>